# Configuration for convolutional network designed to process the MNIST dataset
# and classify the digits. It is inspired by design of LeNet.
#
# Each line represents one layer, and contains configuration for this layer.
# Hash tag at the begining of the line indicates a comment, in which case the
# line is ignored by the configuration process.
#
Subsampling:28:28:1
Convolution:5:5:20:.001:true
Subsampling:2:2:1
Convolution:5:5:40:.001:true
Subsampling:2:2:1
FullyConnected:500:.001:true
FullyConnected:10:.001:true

